<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}} | {{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/base.css">
  </head>
  <body>
    <header>
      {% include identity.html %}
    </header>
    <main>
      <nav arial-label="Main">
        <a href="{{site.baseurl}}/">Table of contents</a>
        <a href="{{site.baseurl}}/categories.html">Categories</a>
        <a href="{{site.baseurl}}/tags.html">Tags</a>
      </nav>
