</main>
<footer>
  <p>&copy; {{site.publisher}}</p>
  <p>
    <a href="#">View the project on GitLab</a>
    <a href="#">Shield Design System</a>
    <a href="#">A11Y Portal | UXDesign</a>
  </p>
</footer>
</body>
</html>
